@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: poppins, sans-serif;
  }
}

@layer components {
  .link {
    @apply flex flex-col font-medium gap-1 items-center text-[#242329] hover:text-purple-500 text-sm;
  }

  .button {
    @apply inline-block bg-firstColor text-white p-4 rounded-lg font-medium text-sm;
  }

  .section {
    @apply mt-8 mb-16
  }

  .bar {
    @apply h-[5px] rounded-md bg-firstColor/30
  }

  .percentage {
    @apply h-[5px] rounded-md block bg-firstColor
  }

  
}

.qualification_data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}
